<!--
* projects.ejs 
* Created by Victor Chaparro
* Studen ID: 301140944
* Oct - 05 - 2020
* This section includes information about the most relevant projects implemented by Victor Chaparro
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- including head partial-->
    <%- include('partials/head'); %>
</head>
<body class="container">

<header>
    <!-- including header partial-->
    <%- include('partials/header'); %>
</header>

<!-- Main projects developed by VCHH-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Projects</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="images/portfolio/electronic invoicing.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Software Development</div>
                        <div class="portfolio-caption-subheading text-muted">Electronic Invoicing implementation</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="images/portfolio/fillrate.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Improvement</div>
                        <div class="portfolio-caption-subheading text-muted">Fillrate and Forecast Accuracy</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="images/portfolio/labormanagement.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Efficiency</div>
                        <div class="portfolio-caption-subheading text-muted">Labor Management System</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <!-- including footer partial-->
    
    <%- include('partials/footer'); %>
</footer>
</body>
</html>