<!--
* services.ejs 
* Created by Victor Chaparro
* Studen ID: 301140944
* Oct - 05 - 2020
* This section includes information about the services ofered by Victor Chaparro
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- including head partial-->
    <%- include('partials/head'); %>
</head>
<body class="container">

<header>
    <!-- including header partial-->
    <%- include('partials/header'); %>
</header>

<!-- Services Section-->
<section class="page-section bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">We know what your business needs.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">BI & Analytics</h4>
                <p class="text-muted">Working with key stakeholders within your organization, we will analyze your business information needs and design a customized business intelligence solution using the different tools and platforms.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Software Development</h4>
                <p class="text-muted">You need specialized software to increase sales, to automate your operations and to optimize your business processes. But is this software available? Whatever your needs, no matter how complex, we’re here to help you.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-project-diagram fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Process Management</h4>
                <p class="text-muted">We help organizations examine their productivity and determine the company’s critical processes. Our goal is to streamline these processes to dramatically improve customer service, decrease operational costs and help our clients become lean organizations.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <!-- including footer partial-->
    <%- include('partials/footer'); %>
</footer>

</body>
</html>